$clr-grey: #f5f5f5;
$clr-text: #0a0a0a;

.wrapper {
    font-family: sans-serif;
    text-align: center;
}

.url-preview {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 15px;
    border: 2px solid $clr-grey;
    font-family: sans-serif;
    text-decoration: none;
    word-break: break-all;
    color: $clr-text;
    text-align: left;
    -webkit-transition: background-color .3s;-moz-transition: background-color .3s;-ms-transition: background-color .3s;-o-transition: background-color .3s;transition: background-color .3s;
    &:hover {
        background-color: $clr-grey;
        -webkit-transition: background-color .3s;-moz-transition: background-color .3s;-ms-transition: background-color .3s;-o-transition: background-color .3s;transition: background-color .3s;
    }
    .img {
        width: 100%;
    }
}

#preview-form {
    padding: 15px 15px 30px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    .url-input {
        display: block;
        width: 100%;
        height: 60px;
        padding: 15px;
        font-size: 18px;
        margin-bottom: 15px;
    }
    .submit {
        font-size: 18px;
        text-transform: uppercase;
        height: 60px;
        padding: 0 15px;
        cursor: pointer;
    }
}