.wrapper {
  font-family: sans-serif;
  text-align: center; }

.url-preview {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  padding: 15px;
  border: 2px solid #f5f5f5;
  font-family: sans-serif;
  text-decoration: none;
  word-break: break-all;
  color: #0a0a0a;
  text-align: left;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s; }
  .url-preview:hover {
    background-color: #f5f5f5;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s; }
  .url-preview .img {
    width: 100%; }

#preview-form {
  padding: 15px 15px 30px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto; }
  #preview-form .url-input {
    display: block;
    width: 100%;
    height: 60px;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 15px; }
  #preview-form .submit {
    font-size: 18px;
    text-transform: uppercase;
    height: 60px;
    padding: 0 15px;
    cursor: pointer; }

/*# sourceMappingURL=demo.css.map */
